.homePage {
  min-height: 100vh;
  width: 100vw;
  background: #a8d0db;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.header {
  width: 100%;
  height: 70px;
  background: #ff0202;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 30px;
  box-sizing: border-box;
}

.userIcon {
  cursor: pointer;

  width: 34px;
  height: 34px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
}

.userIcon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* GRID */
.grid {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 60px;
}

/* CARD */
.card {
  background: transparent;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

/* PARTE DE CIMA */
.cardTop {
  background: #6bbad1;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cardTop img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

/* PARTE DE BAIXO */
.cardBottom {
  background: #e9e9e9;
  padding: 20px;
}

.cardBottom h3 {
  margin: 0;
  color: #0b7c9c;
}

.cardBottom p {
  margin: 5px 0;
  color: #5dabcd;
}

.secao{
  display: flex;
  flex-direction: row;
  background-color: green;
}