.page {
  width: 100vw;
  height: 100vh;
  background: #8bbfd1;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.header {
  height: 60px;
  background: #2fa4c7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: white;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right {
  font-weight: bold;
}

/* CONTEÚDO */
.content {
  display: flex;
  flex: 1;
}

/* SIDEBAR */
.sidebar {
  width: 200px;
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.sidebar p {
  color: #0077aa;
  cursor: pointer;
}

/* BOTÃO + */
.addButton {
  width: 100%;
  height: 40px;
  background: #2fa4c7;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

/* MAIN */
.main {
  flex: 1;
}