.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nome {
  color: #006476;
}

.modal {
  position: absolute;
  top: 80px;
  right: 30px;

  background: #a4e3ff;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;

  padding: 20px;

  border-radius: 10px;

  width: 260px;

  color: #006476;

  box-shadow: 0 4px 10px rgba(0,0,0,0.2);

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;

  animation: aparecerModal 0.25s ease;
}

.modal:hover {
  transform: translateY(-3px);

  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

/* BALÃOZINHO */
.modal::before {
  content: "";

  position: absolute;

  top: -12px;
  right: 20px;

  width: 0;
  height: 0;

  border-left: 12px solid transparent;
  border-right: 12px solid transparent;

  border-bottom: 12px solid #a4e3ff;
}

.close {
  position: absolute;

  top: 5px;
  right: 8px;

  border: none;

  background: white;

  border-radius: 5px;

  cursor: pointer;

  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  margin-top: 10px;
}

.close img {
  width: 100%;
  height: 100%;

  object-fit: contain;
}

.close:hover {
  transform: scale(1.05);

  background: #f1f1f1;

  transition: 0.2s ease;
}

.logout {
  margin-top: 15px;

  width: 100%;

  padding: 8px;

  border: none;

  border-radius: 5px;

  background: #2fa4c7;

  color: #ffffff;

  cursor: pointer;

  transition: 0.2s ease;
}

.logout:hover {
  background: #2289a8;
}

/* ANIMAÇÃO */
@keyframes aparecerModal {
  from {
    opacity: 0;

    transform: translateY(-15px);
  }

  to {
    opacity: 1;

    transform: translateY(0);
  }
}